.container {
    text-align: center;
    width: 40%;
}

form {
    margin-top: 10%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5%;
    box-shadow: 8px 10px 11px -3px rgba(0,0,0,0.75);
}
